<div class="card" *ngFor="let item of dishes">
  <h5 class="card-header">{{item.name}}</h5>
  <div class="card-body">
    <div class="col-12 col-md-12 col-lg-12 row">
      <div class="col-4 col-md-4 col-lg-4">
        <!-- <a href={{parseUrl(item.URL)}}>{{item.URL}}</a> -->
        <!--<a [routerLink]="['course', item.URL]">Course page</a>-->
      </div>
      <div class="col-4 col-md-4 col-lg-4">
        {{item.cost}}
      </div>
      <div class="col-4 col-md-4 col-lg-4">
        <!--View only for ADMIN-->
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" (click)="onDelete(item.Id)" type="submit">Delete</button> -->
      </div>
    </div>
  </div>

