<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Add new comment</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-sm btn-outline-success" (click)="goBack()">Go back</button>
  </div>
</div>

<div class="row justify-content-center">
  <form  [formGroup]="commentAddForm" novalidate (ngSubmit)="addNewComment()" #formDir="ngForm">
    <div class="form-group">
      <label>Headline</label>
      <input type="text" class="form-control" formControlName="headline" placeholder="Place for headline">
      <small *ngIf="!commentAddForm.controls.headline.valid" class="text-danger">
        Headline is required (minimum 3 characters).
      </small>
    </div>
    <div class="form-group">
      <label>Content</label>
      <input type="text" class="form-control" formControlName="content" placeholder="Place for content">
      <small *ngIf="!commentAddForm.controls.content.valid" class="text-danger">
        Content is required (minimum 3 characters).
      </small>
    </div>
    <div class="form-group">
      <label>Rating</label>
      <input type="number" max="5" min="0"  class="form-control" formControlName="rating" placeholder="Place for rating">
      <small *ngIf="!commentAddForm.controls.rating.valid" class="text-danger">
        Select a rating.
      </small>
    </div>
    <button type="submit" [disabled]="!commentAddForm.valid">Add new comment</button>
  </form>
</div>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>
