<div class="col-8">
  <div *ngIf="errorMessage">
    <div class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
  </div>

  <div *ngIf="!isOk">
    <form  class="was-validated" novalidate [formGroup]="forgotForm" (ngSubmit)="sendForgotMessage()">
        <div class="form-group">
          <h3>Plese, enter your email</h3>
            <input type="email"
                   id="inputEmail"
                   class="form-control"
                   formControlName="Email"
                   placeholder="Email@example.by"
                   required>

            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please, enter your email!
            </div>
        </div>

        <button type="submit" class="btn btn-block btn btn-success">
            <span *ngIf="spinning"
                      class="spinner-border spinner-border customSpin"
                      role="status"
                      aria-hidden="true"></span>
                      Reset Password</button>
    </form>
  </div>

  <div *ngIf="isOk">
    <div class="alert alert-success text-center">
        Password reset link sent to your email!
    </div>
  </div>
</div>


