<div class="col-8">
  <div *ngIf="errorMessage">
    <div class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
  </div>

  <div *ngIf="!isReseted">
    <form  class="was-validated" novalidate [formGroup]="resetForm" (ngSubmit)="reset()">
        <div class="form-group">
            <label for="inputNewPassword">New Password</label>
            <input type="password"
                   id="inputNewPassword"
                   class="form-control"
                   formControlName="password"
                   placeholder="New Password"
                   required
                   minlength="8">

            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please, enter New Password!
            </div>
        </div>

        <button type="submit" class="btn btn-block btn btn-success">
            <span *ngIf="spinning"
                      class="spinner-border spinner-border customSpin"
                      role="status"
                      aria-hidden="true"></span>
                      Reset Password</button>
    </form>
  </div>

  <div *ngIf="isReseted">
    <div class="alert alert-success text-center">
        Your password has been changed!
    </div>
  </div>
</div>

