<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">User data</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-sm btn-outline-success" (click)="goBack()">Go back</button>
  </div>
</div>

<div class="row justify-content-center"*ngIf="user; else loading">
  <div class="col-6">
    <h3>User name: {{user.userProfile.name | uppercase}}  {{user.userProfile.surname | uppercase}}</h3>

    <main role="main" class="container">
      <div class="starter-template">
        <p class="lead">ID: {{user.userDTO.id}}
        <p class="lead">Identity ID: {{user.userDTO.idFromIdentity}}
        <p class="lead">Basket ID: {{user.userDTO.basketId}}
      </div>
    </main>
    <h4>Info:</h4>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">Role: {{user.userProfile.role}}</li>
        <li class="list-group-item">Adress: {{user.userProfile.address}}</li>
        <li class="list-group-item">Email: {{user.userProfile.email}}</li>
        <li class="list-group-item">Login: {{user.userProfile.login}}</li>
        <li class="list-group-item">Personal discount: {{user.userProfile.personalDiscount}}</li>
        <li class="list-group-item">Phone number: {{user.userProfile.phoneNumber}}</li>
      </ul>
    </div>
  </div>
  <div class="col-6">
      <div>
        <form  [formGroup]="userInfoUpdateForm" novalidate (ngSubmit)="updateUserInfo(user.userDTO.idFromIdentity)" #formDir="ngForm"   >
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Place for name">
            <small *ngIf="!userInfoUpdateForm.controls.name.valid" class="text-danger">
              Name is required (minimum 3 characters).
            </small>
          </div>
          <div class="form-group">
            <label>Surname</label>
            <input type="text" class="form-control" formControlName="surname" placeholder="Place for surname">
            <small *ngIf="!userInfoUpdateForm.controls.surname.valid" class="text-danger">
              Surname is required (minimum 3 characters).
            </small>
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" formControlName="address" placeholder="Enter the address, building and apartment number.">
            <small *ngIf="!userInfoUpdateForm.controls.address.valid" class="text-danger">
              Address is required (minimum 3 characters).
            </small>
          </div>
          <div class="form-group">
            <label>Phone number</label>
            <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Place for phone number">
            <small *ngIf="!userInfoUpdateForm.controls.phoneNumber.valid" class="text-danger">
              Phone number is required (minimum 12 characters, maximum 13 characters).
            </small>
          </div>
          <button type="submit" [disabled]="!userInfoUpdateForm.valid">Update user info</button>
          <div *ngIf="done">
            <div class="text-success font-weight-bold">Success</div>
          </div>
        </form>
      </div>
      <br>
      <div>
        <form  [formGroup]="userPersonalDiscountForm" novalidate (ngSubmit)="updatePersonalDiscount(user.userDTO.idFromIdentity)">
          <div class="form-group">
            <label>New personal discount</label>
            <input type="number" class="form-control" max="100" min="0" formControlName="personalDiscount" placeholder="Enter new number">
            <small *ngIf="!userPersonalDiscountForm.controls.personalDiscount.valid" class="text-danger">
              Number is required.
            </small>
          </div>
          <button type="submit" [disabled]="!userPersonalDiscountForm.valid">Update user discount</button>
          <div *ngIf="done">
            <div class="text-success font-weight-bold">Success</div>
          </div>
        </form>
      </div>
  </div>
</div>
<ng-template #loading>
  <div>Loading...</div>
</ng-template>
