<div class="row justify-content-center">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Basket</h1>
      <div class="form-group" *ngIf="isAuthenticated">
        <div *ngIf="basket else loading">
          <h4 class="card-text">Total cost of selected dishes: {{basket.basketCost}} $</h4>
          <h4 class="card-text">Delivery service: {{basket.shippingCost}} $</h4>
          <br>
        </div>
        <button *ngIf="basket.dishes.length > 0" type="button" class="btn btn-sm btn-outline-secondary" (click)="removeAll()">Remove all</button>
        <button *ngIf="basket.dishes.length > 0" type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/order/create']">Make order</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="goBack()">Go back</button>
      </div>
    </div>
  </section>
</div>

  <div *ngIf="basket else loading">
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let dish of dishes | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <form [formGroup]="updateForm" (ngSubmit)="onBasketUpdate(dish.id)"#formDir="ngForm" novalidate >

              <div class="card mb-4 shadow-sm">
                <h4 class="jumbotron-heading">{{dish.name}}</h4>
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"></rect><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
                <div class="card-body">
                  <p class="card-text">{{dish.description}}</p>
                  <table cellspacing="0" id="maket">
                    <tr>
                     <td id="leftcol">
                      <ul class="list-group">
                        <li class="list-group-item">Cost: {{dish.cost}}$</li>
                        <li class="list-group-item">Sale: {{dish.sale}}%</li>
                        <li class="list-group-item">quantity: {{dish.quantity}}</li>
                      </ul>
                     </td>
                     <td id="spacer"></td>

                     <td id="rightcol">
                      <div>
                        <h5>Tags:</h5>
                        <ul class="list-group" *ngFor="let tag of dish.tagList">
                          <li class="list-group-item">{{tag.tagName}}</li>
                        </ul>
                      </div>
                     </td>
                    </tr>
                   </table>
                    <p class="card-text">{{dish.composition}}, {{dish.weigh}}</p>
                    <div class="form-group" *ngIf="isAuthenticated">
                      <input type="number" class="form-control" max="20" min="1" placeholder="{{dish.quantity}}" formControlName="quantity">
                      <button type="submit" class="btn btn-sm btn-outline-secondary">Count update</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="removeDish(dish.id)">Remove</button>
                    </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<ng-template #loading>
  <div>Loading...</div>
</ng-template>

<div class="row justify-content-center">
  <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="dishes.length"></ngb-pagination>
</div>
