<div>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <h3>Please enter information to sign up</h3>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
        </div>
        <div>
          <button class="btn btn-lg btn btn-success" type="submit"(click)="register()">Sign up</button>
          <a  class="btn btn-link" [routerLink]="['/login']">Login</a>
        </div>
    </form>
</div>
