<div *ngIf="message">
  <div class="alert alert-info" role="alert">
      {{message}}
  </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Review data</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-sm btn-outline-success" (click)="goBack()">Go back</button>
    <button type="button"  *ngIf="isAdmin" class="btn btn-sm btn-outline-success" (click)="removeById(review.id)">Delete</button>
  </div>
</div>

<div class="row justify-content-center" *ngIf="review; else loading">
  <div class="col-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="jumbotron-heading">{{review.rating}}</h4>
        <ul class="list-group">
          <li class="list-group-item">headline: {{review.headline}}</li>
          <li class="list-group-item">content: {{review.content}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-6">
    <h3 class="h4">Update review data</h3>
    <form  [formGroup]="reviewUpdateForm" novalidate (ngSubmit)="reviewUpdate(review.id)" #formDir="ngForm">
      <div class="form-group">
        <label>Headline</label>
        <input type="text" class="form-control" formControlName="headline" placeholder="Place for headline">
        <small *ngIf="!reviewUpdateForm.controls.headline.valid" class="text-danger">
          Headline is required (minimum 3 characters).
        </small>
      </div>
      <div class="form-group">
        <label>Content</label>
        <input type="text" class="form-control" formControlName="content" placeholder="Place for content">
        <small *ngIf="!reviewUpdateForm.controls.content.valid" class="text-danger">
          Content is required (minimum 3 characters).
        </small>
      </div>
      <div class="form-group">
        <label>Rating</label>
        <input type="number" max="5" min="0" class="form-control" formControlName="rating" placeholder="Place for rating">
        <small *ngIf="!reviewUpdateForm.controls.rating.valid" class="text-danger">
          Select a rating.
        </small>
      </div>
      <button type="submit" [disabled]="!reviewUpdateForm.valid">Update review</button>
    </form>
  </div>
</div>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>
