<div *ngIf="message">
  <div class="alert alert-info" role="alert">
      {{message}}
  </div>
</div>

<div class="row">
    <main role="main" class="col-md-12 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dishes</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/dish/create']">Add new</button>
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="removeAll()">Remove all</button>
        </div>
      </div>
      <div *ngIf="dishes; else loading">
        <div class="card" *ngFor="let dish of dishes">
          <h5 class="card-header">Name: {{dish.name}}</h5>
          <div class="card-body">
            <div class="col-12 col-md-12 col-lg-12 row">
              <div class="col-4 col-md-4 col-lg-4">
                Description: {{dish.description}}
              </div>
              <div class="col-4 col-md-4 col-lg-4">
                <div  *ngIf="mainImages[dish.id]">
                  <img [src]="mainImages[dish.id]" class="card-img">
                </div>
              </div>

              <div class="col-4 col-md-4 col-lg-4">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a class="btn btn-outline-success" (click)="removeDish(dish.id)" type="submit">Delete</a>
                  <a class="btn btn-outline-success" [routerLink]="['/dish', dish.id, 'details']" routerLinkActive="active">Update</a>
                </div>
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" (click)="removeDish(dish.id)" type="submit">Delete</button> -->
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" (click)="dishUpdate(dish.id)" type="submit">Update</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #loading>
        <div>Loading...</div>
      </ng-template>
    </main>
</div>
