.btn-icon {
  padding-top: 0;
  padding-bottom: 0;
}
.btn > .icon {
  position: relative;
  left: -.75rem;
  display: inline-block;
  padding: .375rem .75rem;
  background: rgba(0, 0, 0, 0.15);
  border-radius: .25rem 0 0 .25rem;
}
#maket {
  width: 100%; /* Ширина всей таблицы */
 }
 TD {
  vertical-align: top; /* Вертикальное выравнивание в ячейках */
  padding: 5px; /* Поля вокруг ячеек */
 }
 TD#leftcol {
  width: 200px; /* Ширина левой колонки */
  background: #ccc; /* Цвет фона левой колонки */
  border: 1px solid #000; /* Параметры рамки */
 }
 TD#rightcol {
  background: #fc3; /* Цвет фона правой колонки */
  border: 1px solid #000; /* Параметры рамки */
 }
 #spacer {
  width: 10px; /* Расстояние между колонками */
 }
 .tags-container{
   padding: 20px;
 }
 .jumbotron {
   width: 100%;
 }

 .button-search, .basket-btn {
  margin-top: 20px;
  background-color: #28bd1b;
  border-color: #28bd1b;
  font-weight: bold;
 }

 .basket-btn {
   margin-top: 0;
   margin-left: 20px;
 }

 .sale-circle {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 4vh;
  position: absolute;
  right: 0;
  top: 50px;
  padding: 10px;
  border-radius: 50%;
 }

 .price {
  text-align: right;
  .discounted-price {
    text-decoration: line-through;
    color: red;
    font-size: 2vh;
    margin-bottom: 5px;
  }
 }

 .tag-wrap {
   display: inline-block;
   font-size: 2vh;
   font-weight: bold;
   margin-right: 10px;
 }


