<div *ngIf="message">
  <div class="alert alert-info" role="alert">
      {{message}}
  </div>
</div>

<div class="row justify-content-center">
  <app-admin-nav-bar></app-admin-nav-bar>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Users</h1>
      </div>
      <div class="card" *ngFor="let item of users | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <h5 class="card-header">Name: {{item.userProfile.name}} Email: {{item.userProfile.email}}</h5>
        <div class="card-body">
          <div class="col-12 col-md-12 col-lg-12 row">
            <div class="col-4 col-md-4 col-lg-4">
              Role: {{item.userProfile.role}}
              <br>
              Email confirmed: {{item.userProfile.isEmailConfirmed}}
            </div>
            <div class="col-4 col-md-4 col-lg-4">
              <a [routerLink]="['/administration/user', item.userDTO.id]">Change users details</a>
              <br>
              <a [routerLink]="['/administration/orders/user/', item.userDTO.id]">Change users orders</a>
              <br>
              <a [routerLink]="['/administration/reviews/user/', item.userDTO.id]">Change users reviews</a>
            </div>
            <div class="btn-group-vertical col-4 col-md-4 col-lg-4">
              <button class="btn btn-outline-success " (click)="removeUser(item.userDTO.id)" type="submit">Delete</button>
              <button class="btn btn-outline-success " (click)="changeRole(item.userDTO.idFromIdentity)" type="submit">Change role</button>
              <button class="btn btn-outline-success " (click)="confirmEmail(item.userDTO.idFromIdentity)" type="submit">Confirm email</button>
            </div>
          </div>
        </div>
      </div>
    </main>
</div>

<div class="row justify-content-center">
  <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="users.length"></ngb-pagination>
</div>
