<div *ngIf="isNotFillProfile">
  <div class="alert alert-info" role="alert">
      {{message}}
  </div>
</div>
<div *ngIf="!isEmailConfirm">
  <div class="alert alert-warning" role="alert">
      Please, confirm your email.
  </div>
</div>
<div *ngIf="messageErr">
  <div class="alert alert-info" role="alert">
      {{messageErr}}
  </div>
</div>

<div class="row">
  <div class="col col-lg-3">
      <div class="btn-group-vertical my-2 my-sm-1 btn-sm btn-block">
        <button class="btn btn-outline-secondary"
        type="button"
        data-toggle="collapse"
        data-target="#collapseOrders"
        aria-expanded="false"
        aria-controls="collapseOrders">My orders</button>

        <button class="btn btn-outline-secondary"
          type="button"
          data-toggle="collapse"
          data-target="#collapseComments"
          aria-expanded="false"
          aria-controls="collapseComments">My reviews</button>
      </div>
      <div class="btn-group-vertical my-2 my-sm-1 btn-sm btn-block">
      <button type="button" *ngIf="isAuthenticated" class="btn btn-sm btn-outline-secondary" [routerLink]="['/profile/update']">Profile info update</button>
      <button type="button" *ngIf="isAuthenticated" class="btn btn-sm btn-outline-secondary" [routerLink]="['/email/change']">Change email</button>
      <button type="button" *ngIf="isAuthenticated" class="btn btn-sm btn-outline-secondary" [routerLink]="['/password/change']">Change password</button>
      <button type="button" *ngIf="isAuthenticated" class="btn btn-sm btn-outline-secondary" [routerLink]="['/delete']">Delete account</button>
      </div>
      <div class="btn-group-vertical my-2 my-sm-1 btn-sm btn-block">
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="goBack()">Go back</button>
      </div>
  </div>

  <div class="col" *ngIf="user; else loading">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="jumbotron-heading"> Name and surname: {{user.userProfile.name}}&nbsp;{{user.userProfile.surname}}</h4>
        <ul class="list-group">
          <li class="list-group-item">Email: {{user.userProfile.email}}</li>
          <li class="list-group-item">Phone number: {{user.userProfile.phoneNumber}}</li>
          <li class="list-group-item">Address: {{user.userProfile.address}}</li>
          <li class="list-group-item">Personal discount: {{user.userProfile.personalDiscount}}</li>
        </ul>
      </div>
    </div>

  <div class="col">
    <div class="collapse" id="collapseOrders">
      <app-user-orders></app-user-orders>
    </div>

    <div class="collapse" id="collapseComments">
      <app-user-comments></app-user-comments>
  </div>
  </div>
</div>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>
