<div class="error-page">
  <h1 data-h1="500">500</h1>
  <p class="internal-server-error-msg" data-p="INTERNAL SERVER ERROR">INTERNAL SERVER ERROR</p>

  <p>Admin message: {{errorMsg}}</p>
  <!-- put message here from reloc if it admin -->
  <h2>Somenthing goes wrong. Please contact with us.</h2>
  <button type="button" class="btn btn-lg btn-primary back" (click)="goBack()">Go back</button>
</div>
<!-- <p>You can go to <a href="">the main page</a><span *ngIf="!false"> or <a href="login">login</a></span>.</p> -->
