<div *ngIf="message">
  <div class="alert alert-info" role="alert">
      {{message}}
  </div>
</div>

<ul class="nav flex-column" *ngIf="orderStatuses else loading">
  <li class="nav-item" *ngFor="let status of orderStatuses">
    <a class="nav-link" [routerLink]="['/orders/status', status.statusName]" routerLinkActive="active">
      <!-- routerLinkActive="active"  -->
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
      {{status.statusName}}
    </a>
  </li>
</ul>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>
