<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Welcome!</h2>
    &nbsp;
    <p *ngIf="!false">If you are a registered user, you can <a href="login">login</a>.<br>
      If you are a new here, please <a href="register">register</a>.<br>
      Anyway, you could read rewiews about us here, and check our <a href="menu">menu</a> without registration.</p>
  </div>


  <div class="form-group">
    <form [formGroup]="requestForm" #formDir="ngForm" novalidate>
        <div class="col-12">
          <h4>Reviews</h4>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Enter the number of reviews per page</div>
                </div>
                <input type="number" formControlName="pageSize" class="form-control">

                <div class="input-group-append">
                    <button class="btn btn-success" (click)="getComments()">Show comments</button>
                </div>
            </div>
        </div>
    </form>
  </div>

  <div *ngIf="response">

    <div class="card" *ngFor="let item of response.data">
      <h5 class="card-header">Note: {{item.rating}}. Written by: {{item.name}} &nbsp; {{item.surname}} </h5>
      <div class="card-body">
        <div class="col-12 col-md-12 col-lg-12 row">
          <div>
            {{item.headline}}
          </div>
          <div>
            {{item.content}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!response">

    <div class="card" >
      <h5 class="card-header"> Here could be your review in future!</h5>
      <div class="card-body">
        <div class="col-12 col-md-12 col-lg-12 row">
          <div>
            Unfortunately, no one has left a single review.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="response" class="form-group text-center">

    <!-- <ul class="pagination">
      <li class="page-item disabled"><a onclick="previousePage()" class="page-link" aria-label="Previous" aria-disabled="true"><span aria-hidden="true">«</span>
      </a></li>
      <li *ngFor="let page of pages" class="page-item active" aria-current="page">
        <a onclick="getPage(page)" class="page-link"> {{page}} <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="page-item disabled"><a onclick="nextPage()" class="page-link" aria-label="Next" tabindex="-1" aria-disabled="true"><span aria-hidden="true">»</span>
      </a></li>
    </ul> -->


    <div class="form-group btn-group ">
      <button class="btn btn-outline-secondary border" (click)="previousePage()">«</button>
      <div *ngFor="let page of pages">
          <button [ngClass]="page === response.pageNumber ? 'btn btn-primary border':'btn btn-outline-secondary border'"
              (click)="getPage(page)">{{page}}</button>
      </div>
        <button class="btn btn-outline-secondary border" (click)="nextPage()">»</button>
    </div>
    <br>
    <div class="form-group btn-group mr-2">

    </div>
  </div>
</main>
